
{% macro note(description, label='Note') %}
  <aside data-alert="note">
    <strong>{{ label }}:</strong>
    <div>{{ description | md | safe }}</div>
  </aside>
{% endmacro %}

{% macro warn(description, label='Warning') %}
  <aside data-alert="warn">
    <strong>{{ label }}:</strong>
    <div>{{ description | md | safe }}</div>
  </aside>
{% endmacro %}
