
{% macro note(description) %}

  <aside data-alert="note">
    <strong>Note:</strong>
    {{ description | mdInline | safe }}
  </aside>

{% endmacro %}

{% macro warn(description) %}

  <aside data-alert="warn">
    <strong>Warning:</strong>
    {{ description | mdInline | safe }}
  </aside>

{% endmacro %}
