
{% macro note(description, label='Note', close=false) %}
  <details data-alert="note" {{ '' if close else 'open' }}>
    <summary>{{ label }}:</summary>
    <div>{{ description | md | safe }}</div>
  </details>
{% endmacro %}

{% macro warn(description, label='Warning', close=false) %}
  <details data-alert="warn" {{ '' if close else 'open' }}>
    <summary>{{ label }}:</summary>
    <div>{{ description | md | safe }}</div>
  </details>
{% endmacro %}
