@use 'sass:color';

@mixin light-mode {
  --bg: var(--contrast-light);
  --callout: var(--contrast-light-ish);
  --text: var(--contrast-dark);
  --neutral: var(--neutral-dark);
  --action: var(--prime-dark);
  --focus: var(--accent-dark);
  --mark: var(--accent-light);
}

@mixin dark-mode {
  --bg: var(--contrast-dark);
  --callout: var(--contrast-dark-ish);
  --text: var(--contrast-light);
  --neutral: var(--neutral-light);
  --action: var(--prime-light);
  --focus: var(--accent-light);
  --mark: var(--accent-dark);
}

html {
  color-scheme: var(--mode, var(--os-mode, light));

  // palette
  --contrast-light: snow;
  --contrast-light-ish: mistyrose;
  --contrast-dark: #{color.mix(darkslategray, black, 25%)};
  --contrast-dark-ish: #{color.mix(darkslategray, black, 50%)};
  --neutral-light: lightslategray;
  --neutral-dark: slategray;
  --prime-light: powderblue;
  --prime-dark: teal;
  --accent-light: hotpink;
  --accent-dark: #{color.mix(mediumvioletred, black, 75%)};

  @include light-mode;

  @media (prefers-color-scheme: dark) {
    @include dark-mode;
    --os-mode: dark;
  }

  background: var(--bg);
  color: var(--text);
}

[data-mode='light'] {
  @include light-mode;
  --mode: light;
}

[data-mode='dark'] {
  @include dark-mode;
  --mode: dark;
}
