body {
  display: grid;
  grid-gap: 1em;
  grid-template:
    '. nav .' auto
    '. control .' auto
    '. header  .' auto
    '. main    .' 1fr
    '. changes  .' auto
    '. footer  .' auto
    / minmax(0, 1fr) minmax(0, 70ch) minmax(0, 1fr)
  ;
  max-width: 100%;
  min-height: 100%;
  padding-block-start: 1em;

  @media (min-width: 50em) {
    --controls: end;
    grid-template:
      '. nav control' auto
      '. header  .' auto
      '. main    .' 1fr
      '. changes  .' auto
      '. footer  .' auto
      / minmax(auto, 1fr) minmax(0, 70ch) minmax(auto, 1fr)
    ;
  }
}

header,
[id='toc-details'],
footer {
  font-size: 0.8rem;
}

// header
nav {
  grid-area: nav;
}

.controls {
  justify-self: var(--controls, start);
  grid-area: control;
  padding-right: 1em;
}

header {
  grid-area: header;

  [datetime] {
    display: block;
    font-style: italic;
    margin-top: 0.5rem;
  }
}

// toc
#toc-details {
  margin-top: 0.5rem;
}

.toc-summary {
  font-style: italic;
}

// main
main {
  grid-area: main;
}

// changes
.changelog {
  grid-area: changes;
}

// footer
footer {
  border-top: medium solid var(--neutral);
  grid-area: footer;
  padding: 1em;

  @media (min-width: 50em) {
    margin-inline: -1em;
  }

  p {
    margin-block: 0.25rem;
  }
}
