a {
  &:link,
  &:visited {
    color: var(--link, var(--action));
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--focus);
  }

  &[href*='://']::after {
    font-family: var(--system-fonts);
    content: ' ↗';
  }
}

.header-anchor {
  &:link,
  &:visited {
    --link: var(--neutral);
    --scale: 0.75;
    --x: 0;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    transition: transform 300ms ease-out;
    transform: scale(var(--scale)) translateX(var(--x));

    @media (min-width: 48em) {
      --scale: 0.6;
      --x: -25%;
      position: absolute;
      right: 100%;
    }
  }

  &:hover,
  &:focus,
  &:active {
    --scale: 0.8;
  }
}
