{% import "alert.njk" as alert %}

{% if draft %}
  {{ alert.warn(
    'This document is still under active development, and likely incomplete',
    'Rough Draft'
  ) }}
{% elif archive %}
  {% set details %}
    {{ status.archive[archive] or archive }}
    {% if moved %}See {{ moved }} for details.{% endif %}
  {% endset %}

  {{ alert.warn(
    details,
    'Archived'
  ) }}
{% endif %}

{{ alert.note(note) if note else none }}
{{ alert.warn(warn) if warn else none }}
