<aside id="support">
{% md %}
## Help us improve CSS

As an _Invited Expert_
in the CSS Working Group,
I'm one of few independent contributors --
not representing a major company.
If you appreciate the work I'm doing,
please consider supporting
me directly through the
[OddBird Open Source fund](https://opencollective.com/oddbird-open-source/).

I'm currently working on…

- [Logical shorthand properties](/logical/)
  (_read the [blog post](https://www.oddbird.net/2025/03/20/logical-shorthand/)_)
- [CSS Mixins & Functions](/sasslike/mixins-functions/)
  (_prototypes available in Chrome Canary_)
- Finalizing **the `@scope` rule**
  (_part of [Interop 2025](https://wpt.fyi/interop-2025)!_)
- Continued improvements to **Cascade Layers** and **Container Queries**
{% endmd %}
</aside>
