---
date: Last Modified
---

<!DOCTYPE html>
<html lang="en" data-mode="auto">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
  <div class="controls">
    <button data-toggle="mode">colors</button>
  </div>

  <header>
    {% include "nav.njk" %}
    {% if not (page.url == '/') %}
      <time datetime="{{ page.date.toISOString() }}">
        Updated {{ page.date.toLocaleString('en-US', {'dateStyle': 'medium'}) }}
      </time>
    {% endif %}

    {% if not raw_md %}
      <h1>{{ title | mdInline | safe }}</h1>
      {% if eleventyNavigation and eleventyNavigation.parent and not manual_toc %}
        <details class="toc-details">
          <summary class="toc-summary">Table of Contents</summary>
          {{ content | toc | safe }}
        </details>
      {% endif %}
    {% endif %}
  </header>

  <main>
    {% import "alert.njk" as alert %}
    {{ alert.note(note) if note else none }}
    {{ alert.warn(warn) if warn else none }}

    {{ content | typogr | safe }}
  </main>

  {% if changes %}
    <aside id="changelog-feed" class="changelog">
      <h2>Log of Major Changes</h2>
      <ul>
        {% for change in changes %}
          <li class="change-item">
            <time datetime="{{ change.time }}">
              {{ change.time.toLocaleString('en-US', {'dateStyle': 'short', 'timeStyle': 'short'}) }}
            </time> »
            {{ change.log }}
          </li>
        {% endfor %}
      </ul>
      <p>
        <a href="/feed.xml">Subscribe to site changes</a>
      </p>
    </aside>
  {% endif %}

  <footer>
    {% include "footer.njk" %}
  </footer>

  <script>
    var modeRoot = document.querySelector('[data-mode]');
    var modeBtn = document.querySelector('[data-toggle="mode"]');

    if (modeBtn && modeRoot) {
      var darkPref = window.matchMedia( "(prefers-color-scheme: dark)" ).matches;
      var localMode = window.localStorage.getItem('mode');

      var lightMap = {
        'auto': 'dark',
        'dark': 'light',
        'light': 'auto',
      };

      var darkMap = {
        'auto': 'light',
        'light': 'dark',
        'dark': 'auto',
      };

      var stateMap = darkPref ? darkMap : lightMap;

      var isValidMode = function(mode) {
        return mode && stateMap[mode];
      }

      var getMode = function() {
        return modeRoot.getAttribute('data-mode');
      }

      var setMode = function(to) {
        var setTo = to || stateMap[getMode()];
        if (setTo === 'auto') {
          window.localStorage.removeItem('mode');
        } else {
          window.localStorage.setItem('mode', setTo);
        }
        modeRoot.setAttribute('data-mode', setTo);
      };

      if (isValidMode(localMode) && getMode() !== localMode) {
        setMode(localMode);
      }

      modeBtn.addEventListener('click', function() { setMode(); });
    }
  </script>
</body>
</html>
