---
date: Last Modified
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link href="themes/prism-ghcolors.css" rel="stylesheet" />
</head>
<body>
  <header>
    {% include "nav.njk" %}
    {% if eleventyNavigation and eleventyNavigation.parent %}
      <time datetime="{{ page.date.toISOString() }}">
        Updated {{ page.date.toLocaleString('en-US', {'dateStyle': 'medium'}) }}
      </time>
    {% endif %}
  </header>

  <main>
    {% if not raw_md %}
      {% if title %}
        <h1>{{ title | mdInline | safe }}</h1>
      {% endif %}

      {% if eleventyNavigation and eleventyNavigation.parent and not manual_toc %}
        {{ content | toc | safe }}
      {% endif %}
    {% endif %}

    {{ content | typogr | safe }}
  </main>

  <footer>
    {% include "footer.njk" %}
  </footer>
</body>
</html>
