---
layout: base.njk
---

{% include "base/alerts.njk" %}

{{ content | safe }}

{% include "base/links.njk" %}

{% set related = collections[index] | noSelf(page) if index else [] %}
{% if related | length > 0 %}
  {% import "base/list.macros.njk" as list %}

  <h2>Related Notes</h2>
  {{ list.all(related, collections) }}
{% endif %}
