[data-layout='alert'] {
  background: var(--callout);
  border: medium solid var(--accent-dark);
  color: var(--text);
  font-family: var(--system-fonts);
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 0.5em;
}
