[data-alert] {
  background: var(--callout);
  border: medium solid var(--neutral);
  color: var(--text);
  font-family: var(--system-fonts);
  margin: 1em 0;
  padding: 1em;
}

[data-alert='warn'] {
  border-color: var(--mark);
}

[data-status='warn'] {
  --focus: white;
  background-color: var(--mark);
}
