html {
  --system-fonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --body-fonts: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  --code-fonts: monaco,Consolas,'Lucida Console',monospace;

  background-color: #f9f9f9;
  font-family: var(--body-fonts);
  font-size: 1.15em;
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
}

body {
  display: grid;
  grid-gap: 1em;
  grid-template: auto 1fr auto / 100%;
  margin: 0 auto;
  max-width: 70ch;
  min-height: 100vh;
  padding: 1em;
}

footer {
  border-top: medium solid var(--neutral);
  font-size: 0.75rem;
  padding: 1em 0;

  p {
    margin: 0.25rem;
  }
}
