html {
  background-color: #f9f9f9;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.15em;
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
  padding: 1em;
}

body {
  display: grid;
  grid-gap: 1em;
  grid-template: auto 1fr auto / auto;
  margin: 0 auto;
  max-width: 55ch;
  min-height: 100vh;
}

nav {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

footer {
  border-top: medium solid var(--neutral);
  font-size: 0.75rem;
  padding: 1em 0;

  p {
    margin: 0.25rem;
  }
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 1.2;
}

h2 {
  border-top: medium dotted var(--neutral);
  margin-top: 1.5em;
  padding-top: 0.25rem;
}

pre code {
  font-size: 0.75rem;
}
