html {
  --system-fonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --body-fonts: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  --code-fonts: monaco,Consolas,'Lucida Console',monospace;

  background-color: #f9f9f9;
  font-family: var(--body-fonts);
  font-size: 1.15em;
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
}

body {
  display: grid;
  grid-gap: 1em;
  grid-template: auto 1fr auto / auto;
  margin: 0 auto;
  max-width: 70ch;
  min-height: 100vh;
  padding: 1em;
}

nav {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

footer {
  border-top: medium solid var(--neutral);
  font-size: 0.75rem;
  padding: 1em 0;

  p {
    margin: 0.25rem;
  }
}

h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--system-fonts);
  line-height: 1.2;
  position: relative;
}

h2 {
  border-top: medium dotted var(--neutral);
  margin-top: 1.5em;
  padding-top: 0.25rem;
}

code,
mark {
  background: var(--mark);
  color: inherit;
  display: inline-block;
  padding: 0 0.25em;
}

code {
  font-family: var(--code-fonts);
  font-size: 0.8em;
}

pre code {
  background: unset;
  display: unset;
  padding: unset;
}
