body {
  display: grid;
  grid-gap: 1em;
  grid-template:
    '. control .' auto
    '. header  .' auto
    '. main    .' 1fr
    '. footer  .' auto
    / minmax(0, 1fr) minmax(0, 70ch) minmax(0, 1fr)
  ;
  max-width: 100%;
  min-height: 100%;

  @media (min-width: 50em) {
    --controls: end;
    grid-template:
      '. header  control' auto
      '.  main   .' 1fr
      '.  footer .' auto
      / minmax(auto, 1fr) minmax(0, 70ch) minmax(auto, 1fr)
    ;
  }
}

header,
.toc-details,
footer {
  font-size: 0.8rem;
}

// header

.controls {
  justify-self: var(--controls, start);
  grid-area: control;
  padding-right: 1em;
}

header {
  grid-area: header;
}

[datetime] {
  font-style: italic;
  margin-top: 0.5rem;
}

// toc
.toc-summary {
  font-style: italic;
}

// main
main {
  grid-area: main;
}

// footer
footer {
  border-top: medium solid var(--neutral);
  grid-area: footer;
  padding: 1em;

  @media (min-width: 50em) {
    margin-inline: -1em;
  }

  p {
    margin-block: 0.25rem;
  }
}
