// headings

h1 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--system-fonts);
  line-height: 1.2;
  position: relative;
}

h2 {
  border-top: medium dotted var(--neutral);
  margin: 2em 0 1em;
  padding-top: 0.25rem;
}

h3, h4 {
  margin: 1.5em 0 0.5em;
}

// markers & code

code,
mark {
  background: var(--mark);
  color: var(--text);
  display: inline-block;
  padding: 0 0.25em;
}

code {
  font-family: var(--code-fonts);
  font-size: 0.8em;
}

pre code {
  background: unset;
  color: unset;
  display: unset;
  padding: unset;
}

// amp

.amp {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-style: italic;
  font-weight: normal;
}
